<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @rental.date %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @rental.movie.name %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
