<!DOCTYPE html>
<html>
  <head>
    <title>RentMovies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if policy(Movie).index? %>
      <%= link_to "Movies", movies_path %>
    <% end %>
    <%= link_to "Rental", rentals_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <%= yield %>
  </body>
</html>
